---
Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-security.*,
  -clang-analyzer-core.BitwiseShift,
  -clang-analyzer-core.FixedAddressDereference,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-designated-initializers,
  google-readability-casting,
  google-runtime-*,
  readability-*,
  -readability-non-const-parameter,
  -readability-function-cognitive-complexity,
  -readability-uppercase-literal-suffix,
  -readability-else-after-return,
  -readability-magic-numbers,
  -readability-static-accessed-through-instance,
  -readability-redundant-declaration,
  -readability-redundant-member-init,
  -readability-redundant-inline-specifier,
  -readability-math-missing-parentheses,
  -readability-trailing-comma,
  cert-*,
  -cert-int09-c,
  -cert-dcl37-c,
  -cert-dcl16-c,
  -cert-dcl51-cpp,
  -cert-oop54-cpp,
  concurrency-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unhandled-self-assignment,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-reference-coroutine-parameters,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  misc-*,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -misc-non-private-member-variables-in-classes,
  -misc-const-correctness,
  performance-*,
  -performance-no-int-to-ptr,
  boost-use-ranges,
  hicpp-*,
  -hicpp-uppercase-literal-suffix,
  -hicpp-explicit-conversions,
  -hicpp-exception-baseclass,
  portability-*,
  -portability-avoid-pragma-once,
  -bugprone-std-exception-baseclass

WarningsAsErrors: ''
UseColor: true
HeaderFilterRegex: '^(?!.*\.(h)$).*' # 过滤.h文件，避免第三方库产生大量警告
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: '^(_|b|i|[kK].*|n|af|ch)$'
  - key: readability-identifier-length.IgnoredParameterNames
    value: '^(_|i|n|af|[kK].*)$'
...
